.perfil, .body{
	display:flex;
	flex-wrap: wrap;
	flex-direction:column;
	align-items:center;
}

.portada{
	display:block;
	position:relative;
	width: 80%;
	height:17rem;
	background:linear-gradient(45deg, yellow, red);
	border-radius: 0 0 20px 20px;
}

.header{
	justify-content: center;
	background:linear-gradient(45deg, transparent, transparent);
	width: 100%;
	display:flex;
	margin-bottom:5rem;
}

.avatar{
	display:flex;
	width: 180px;
	height: 180px;
	align-items:center;
	justify-content: center;
	border: 7px solid white;
	background-color: grey;
	border-radius: 50%;
	position:absolute;
	bottom:-40%;
	left: calc(50% - 90px);
	box-shadow: 0 0 12px rgba(0, 0, 0, .2);
}

.body{
	width: 90%;
}

.bio, .footer{
	display:block;
	padding: 1.5rem 2rem;
	box-shadow: 0 0 12px rgba(0, 0, 0, .2);
	background-color:white;
	border-radius: 15px;
	text-align:center;
	width:100%;
}

.bio{
	margin-bottom: 1.5rem;
}







